@font-face {
    font-family: 'dosis';
    src: url('fonts/Dosis-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'rye';
    src: url('fonts/Rye-Regular.ttf') format('truetype');
}

body {
    background-color: black;
    margin: 1vw;
    font-family: dosis, sans-serif;
}

* {
    color: #DDDDDD;
    font-weight: normal;
    z-index: 2;
    position: relative;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
}

.box {
    height: 100vw;
    border-radius: 8vw;
    margin: 1vw;
    text-align: center;
    background: linear-gradient(0deg, #101010, #202020);
    overflow: hidden;
}

.box:hover {
    box-shadow: 0px 0px 30px 2px rgba(255,255,255,0.3);
    filter: brightness(115%);
}

img {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

@media (min-width: 700px) {
    .grid-container {
        grid-template-columns: 50% 50%;
    }

    .box {
        border-radius: 6vw;
        height: 50vw;
    }
}

@media (min-width: 1100px) {
    .grid-container {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }

    .box {
        border-radius: 4vw;
        height: 33vw;
    }
}

@media (min-width: 1450px) {
    .grid-container {
        grid-template-columns: 25% 25% 25% 25%;
    }

    .box {
        border-radius: 2vw;
        height: 25vw;
    }
}

.fishtank {
    position: absolute;
    left: 0;
    z-index: 1;
    border-radius: inherit;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#westernWager {
    cursor: pointer;
    background-image: url('wood4.jpg');
    background-size: cover;
}

#westernWager h1 {
    font-family: rye, sans-serif;
}

#westernWager svg {
    height: 50%;
    width: 50%;
}

.card-container {
    position: relative;
    height: 1000px;
}

.card {
    border-radius: 5.5%;
    position: absolute;
    height: auto;
    top: 5%;
    left: 5%;
}

#card41 {
    rotate: -5deg;
}

#card31 {
    left: 15%;
    rotate: 10deg;
}

#card21 {
    left: 25%;
    rotate: 25deg;
}

#card11 {
    left: 35%;
    rotate: 40deg;
}

#card0 {
    left: 45%;
    rotate: 55deg;
}



#crossFP {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-image: url('sprinkler3.jpg');
    background-size: cover;
}

#treeGenerator {
    background-image: url('tree4.png');
    cursor: pointer;
}

#headerCross {
    margin-top: 90%;
    font-size: 40px;
}

#headerFireProtection {
    font-size: 18px;
}
