:root {
  color-scheme: light dark;
}

body {
    margin: 0;
    padding: 0;
    background-color: light-dark(white, black);
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#newButton {
    position: fixed;
    top: 1vh;
    left: 1vw;
    cursor: pointer;
}